<section class="section hero hero-small">
  <header class="hero-inner">
    <div class="hero-inner-search">
      {{search submit=false instant=settings.instant_search class="search search-full" placeholder="Search knowledge base..."}}
    </div>
  </header>
</section>

<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>

  <div class="form">
    <header class="form-header">
      <h1 class="form-header-heading">
        <i class="fas fa-paper-plane"></i> {{t 'submit_a_request'}}
        {{#if follow_up}}
        <span class="follow-up-hint">{{follow_up}}</span>
        {{/if}}
      </h1>
      <p class="form-header-description">
        {{dc 'homepage_ticket_guideline_desc_1'}}<a href="../articles/360047900534" target="_blank">{{dc 'homepage_ticket_guideline_name'}}</a>{{dc 'homepage_ticket_guideline_desc_2'}}
      </p>
    </header>
    {{request_form}}
  </div>
</div>

{{!-- A hack to use dynamic contents for search bar placeholder. --}}
<p  hidden id="search_placeholder">{{dc 'homepage_search_full_placeholder'}}</p>

<script>
  var placeholderElem = document.getElementById("search_placeholder");
  var placeholderString = placeholderElem.innerText;
  document.getElementById("query").placeholder = placeholderString;
</script>